.faq-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1) 100%);
    text-align: center;
    color: white;
    padding: 64px 16px;

    .faq {
        .faq_tag {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: rgba(255, 255, 255, 0.7);
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            text-transform: uppercase;
            padding: 12px;
            width: 120px;
            border-radius: 1000px;
            box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            background: linear-gradient(270deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.05) 100%);
            margin: 0 auto;

            h1 {
                background: linear-gradient(0.00deg, rgb(128, 128, 128), rgb(255, 255, 255));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: 64px;
                font-weight: 400;
                line-height: 65.28px;
                letter-spacing: -1.92px;
                text-align: center;
            }
        }
    }



    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 60px 40px;
        margin-left: 80px;

        &-title {
            font-size: 64px;
            font-weight: 500;
            line-height: 70.4px;
            text-align: center;
        }

        &-text {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: center;
        }

        .collapse_box {
            width: 530px;
        }
    }
}