.team-box {
  //border:1px solid red;
  width: 267px;
  //border:1px solid red;
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 6px;
  //  background-color: rgba(48, 47, 47, 0.219);
  backdrop-filter: blur(8px);

}


.icon-box {
  filter: grayscale(100%);
  border-radius: 16px;
  transition: filter .3s ease-in-out;
  border: 1px solid rgb(50, 207, 50);
  border-bottom: 4px solid rgb(50, 207, 50);
  width: 266px;
  height: 304px;
  border-radius: 34px;
  background: transparent;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  -webkit-filter: grayscale(100%);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;

  &:hover {
    filter: grayscale(0%);
    border-radius: 16px;
    transition: filter .3s ease-in-out;
    border: 1px solid rgb(50, 207, 50);
    border-bottom: 4px solid rgb(50, 207, 50);
    width: 266px;
    height: 304px;
    border-radius: 34px;
    background: transparent;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    transition: 0.6;
    -webkit-transition: 0.6;
    -moz-transition: 0.6;
    -ms-transition: 0.6;
    -o-transition: 0.6;
  }
}


.team-box-title {
  padding-left: 5px;
  color: #fffffff1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cac1c1b9;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 180% */
  margin-bottom: 8px;
}

.team-box-text {
  padding-left: 5px;
  color: #AAAAAA;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #c3b7b7;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 180% */
}