.pricings {

    .pricing {
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;
        background-color: #000;
        flex-wrap: wrap;

        .card {
            box-shadow: inset 0px 0px 48px 0px rgba(255, 255, 255, 0.07), inset 0px -2px 0px 0px rgb(104, 247, 187);
            background: linear-gradient(90.00deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15) 100%);
            color: #fff;
            border-radius: 16px;
            padding: 24px;
            width: 280px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:hover {
                border-color: #00cc7a;
            }

            &.highlight {
                background: #00cc7a;
                border-color: #00cc7a;
            }

            &.active {
                border-color: #00ffcc;
                background: linear-gradient(145deg, #002b1e, #004d3d);
                transform: scale(1.03);
            }

            .card__title {
                background: linear-gradient(0.00deg, rgb(128, 128, 128), rgb(255, 255, 255));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: 24px;
                font-weight: 400;
                line-height: 24.96px;
                letter-spacing: -0.72px;
                text-align: left;
            }

            .card__price {
                background: linear-gradient(0.00deg, rgb(128, 128, 128), rgb(255, 255, 255));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-size: 48px;
                font-weight: 400;
                line-height: 24.96px;
                letter-spacing: -0.72px;
                text-align: left;
                padding: 35px 0;

                .card__period {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24.96px;
                    letter-spacing: -0.72px;
                    text-align: left;
                }
            }

            .card__desc {
                color: rgba(255, 255, 255, 0.7);
                font-size: 12px;
                font-weight: 400;
                line-height: 17.92px;
                letter-spacing: 0.14px;
                text-align: left;
            }

            .card__features {
                margin: 16px 0;
                padding-left: 0;
                list-style: none;
                color: rgba(255, 255, 255, 0.5);
                font-size: 11px;
                font-weight: 400;
                line-height: 17.92px;
                letter-spacing: 0.14px;
                text-align: left;

                li {
                    font-size: 12px;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;

                    span {
                        color: #00ffcc;
                        margin-right: 6px;
                    }
                }
            }

            .card__button {
                color: rgb(255, 255, 255);
                font-size: 11px;
                font-weight: 400;
                line-height: 14.4px;
                letter-spacing: 0%;
                text-align: center;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 216px;
                height: 48.39px;
                cursor: pointer;
                border-radius: 12px;
                box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 0.07);
                backdrop-filter: blur(5px);
                background: linear-gradient(90.00deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15) 100%);

                &:hover {
                    background: #00cc7a;
                }
            }
        }
    }
}


.pricing_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 80px;
    margin-top: 172px;
    padding: 0 24px;

    &_plans {
        display: flex;
        flex-direction: column;

        &_title {
            background: linear-gradient(0.00deg, rgb(128, 128, 128), rgb(255, 255, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -0.72px;
            text-align: left;
            width: 360px;
        }

        &_text {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            p {
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 400;
                line-height: 17.92px;
                letter-spacing: 0.14px;
            }

        }
    }

    &_basic {
        display: flex;
        flex-direction: column;

        &_title {
            background: linear-gradient(0.00deg, rgb(128, 128, 128), rgb(255, 255, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 24px;
            font-weight: 400;
            line-height: 24.96px;
            letter-spacing: -0.72px;
            text-align: left;
            margin-bottom: 0;
            padding-bottom: 16px;
        }

        &_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 338.67px;
            height: 37.39px;
            border-radius: 8px;
            box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 0.07);
            background: linear-gradient(90.00deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15) 100%);
            color: rgb(255, 255, 255);
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

        }

        &_text {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 400;
                line-height: 17.92px;
                letter-spacing: 0.14px;
            }
        }
    }

    &_premium {
        display: flex;
        flex-direction: column;

        &_title {
            background: linear-gradient(-28.71deg, rgb(0, 163, 96), rgb(104, 247, 187));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-size: 24px;
            font-weight: 400;
            line-height: 24.96px;
            letter-spacing: -0.72px;
            text-align: left;
            margin-bottom: 0;
            padding-bottom: 16px;
        }

        &_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 338.67px;
            height: 37.39px;
            border-radius: 8px;
            box-shadow: inset 0px 0px 24px 0px rgba(255, 255, 255, 0.07);
            background: linear-gradient(163.06deg, rgb(104, 247, 187) 0%, rgb(0, 163, 96) 100%);
            color: rgb(0, 0, 0);
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

        }

        &_text {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 400;
                line-height: 17.92px;
                letter-spacing: 0.14px;
            }
        }
    }
}