/* Hero section */
.hero {
  padding: 30px 0;
  margin-bottom: 30px;

  .hero_container {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: var(--content-bg);

    .hero_info {
      width: 60%;
      padding-left: 20px;

      .hero_title {
        color: var(--primary-color);
        font-weight: 600;
        font-size: var(--font-size-xxxl);
        line-height: var(--line-height-xxxxl);
        margin-bottom: 9px;

        .hero_subtitle {
          color: var(--secondary-color);
        }
      }
      .hero_text {
        font-size: var(--font-size-md);
        line-height: var(--line-height-md);
        color: var(--text-color);
        margin-bottom: 32px;
      }
    }
    .hero_img {
      width: 646px;

      & img {
        width: 100%;
      }
    }
  }
}

/* Slider section */
.slider {
  padding-bottom: 200px;

  .slider_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 76px;
    overflow-x: hidden;
    gap: 100px;
  }
}

/* Work process section */
.work-process_title {
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xxxxl);
  padding-bottom: 142px;

  & .work-process_subtitle {
    color: var(--secondary-color);
  }
}

/* Benefits section */
@mixin section-info {
  width: 676px;

  .section-info_title {
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxxl);

    & .section-info_subtitle {
      color: var(--secondary-color);
    }
  }

  .section-info_text {
    color: var(--text-color);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
  }
}

.benefits {
  margin-top: 246px;
  margin-bottom: 63px;

  .benefits_content {
    @include section-info;
  }

  .card-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 20px;
  }
}

/* Plans section */
.plans_content {
  @include section-info;
}

.plans-card-wrapper {
  padding: 40px 0;

  .switcher-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;

    span {
      color: var(--primary-color);
      font-size: var(--font-size-xs);
      font-weight: 500;
      line-height: var(--line-height-sm);
    }

    .switcher input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
    }

    .switcher input[type="checkbox"]:focus {
      outline: 0;
    }

    .switcher .toggle {
      width: 58px;
      height: 26px;
      display: inline-block;
      position: relative;
      margin: 0;
      background-color: var(--secondary-color);
      transition: all 0.3s ease;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
    }

    .switcher .toggle::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 4px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--primary-color);
      transition: all 0.3s ease-in-out;
    }

    .switcher .toggle:checked:after {
      transform: translatex(30px);
      -webkit-transform: translatex(30px);
      -moz-transform: translatex(30px);
      -ms-transform: translatex(30px);
      -o-transform: translatex(30px);
    }
  }
}

/* Customer-Stories section */
.customer-stories {
  padding-top: 100px;
  margin-top: 87px;

  .customer-stories_content {
    @include section-info;
  }
}

/* FAQ section */
.faq {
  margin-top: 100px;

  .faq_container {
    display: flex;
    align-items: center;
    min-height: 500px;
    padding: 20px 40px;
    gap: 60px;
    border-radius: 20px;
    background-color: var(--content-bg);
  }
  .faq_content {
    @include section-info;
  }
}

/* Contact section */
.contact {
  margin-top: 100px;

  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact_content {
      @include section-info;
      text-align: center;

      .section-info_title {
        margin-bottom: 25px;
      }
    }

    .form-btn {
      display: block;
      text-align: center;
      border-radius: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: var(--font-size-lg)
    }
  }
}
