.header {
  background-color: transparent;
  padding: 14px 0;
  margin: 20px 0 0 0;
  position: sticky;
  top: 0;
  z-index: 999;
  // margin-left: -3px;

  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    backdrop-filter: blur(20px);
    border-radius: 46px;
    padding: 16px 43px 16px 25px;
    background: linear-gradient(#ffffff00 99.99%, #cbcaca00);

    .logo-wrapper {
      display: block;
      width: 136px;
      padding: 3px 22px;
      margin-right: 20px;

      .logo {
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .nav-list {
      display: flex;
      align-items: center;

      .nav_link {
        color: var(--primary-color);
        font-size: var(--font-size-sm);
        margin-right: 38px;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
