.header {
    max-width: 1250px;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin: auto;
    background-color: transparent;
    backdrop-filter: blur(25px);
    box-shadow: inset 0px 0px 12px 0px rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 20px;
    z-index: 999;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(20px);
        border-radius: 46px;
        background: linear-gradient(#ffffff00 99.99%, #cbcaca00);
        padding: 6px 12px;

        &_logo {
            display: block;

            .logo {
                width: 44px;
                height: 38px;
                border-radius: 4px;

                &:hover {
                    opacity: 0.9;

                }
            }
        }

        &_list {
            display: flex;
            align-items: center;
            gap: 38px;

            a {
                color: var(--primary-color);
                font-size: var(--font-size-sm);

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        &_actions {
            display: flex;
            align-items: center;
            gap: 10px;

            &_lang {
                width: 25px;
                height: 25px;
                color: rgb(23, 181, 116);
                cursor: pointer;
            }

            a {
                width: 80px;
                height: 40px;
                box-sizing: border-box;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 8px;
                background: linear-gradient(270.00deg, rgba(23, 23, 23, 0.9), rgba(47, 47, 47, 0.9) 50%, rgba(23, 23, 23, 0.9) 100%);
                color: rgb(255, 255, 255);
                font-size: 12px;
                font-weight: 400;
                line-height: 14.4px;
                letter-spacing: 0%;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;


                &.login {
                    background-color: #2a2a2a;
                    color: white;
                }

                &.get-started {
                    width: 111.2px;
                    height: 40px;
                }

                &:hover {
                    opacity: 0.85;
                }
            }
        }
    }
}