.footer {
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15) 100%);
    border-radius: 16px;
    overflow: hidden;
    padding: 0 !important;

    &_content {
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        &_columns {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 32px;

            &_column {
                flex: 1;
                min-width: 150px;

                h4 {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14.4px;
                    letter-spacing: 0%;
                    text-align: left;
                    text-transform: uppercase;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.4px;
                        letter-spacing: 0%;
                        text-align: left;
                        text-transform: uppercase;
                        padding: 16px 0;
                        cursor: pointer;

                        &:hover {
                            color: #00d084;
                        }

                        a {
                            color: inherit;
                        }
                    }
                }
            }

            &_cta {
                flex: 1;
                min-width: 250px;
                text-align: right;

                h3 {
                    background: linear-gradient(0.00deg, rgb(128, 128, 128), rgb(255, 255, 255));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24.96px;
                    letter-spacing: -0.72px;
                    text-align: left;
                }

                a {
                    display: block;
                    width: 100%;
                    margin-top: 8px;
                    padding: 9.6px;
                    border-radius: 6.4px;
                    font-size: 12px;
                    font-weight: 400;
                    text-transform: uppercase;
                    cursor: pointer;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.green {
                        background: #00d084;
                        color: black;
                    }

                    &.dark {
                        background: #2b2b2b;
                        color: white;
                    }

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }

}

.footer_bottom {
    padding: 19px 32px;
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15) 100%);
}