.customer-stories_wrapper {
  display: flex;
  align-items: center;
  padding: 60px 0;
  gap: 24px;

  .customer-stories_card {
    width: 588px;
    height: 239px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--content-bg);

    .card-header {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 29px;

      .card-image_wrapper {
        width: 60px;
        height: 60px;

        img {
          border-radius: 50%;
        }
      }

      .card-title {
        color: var(--primary-color);
        font-size: 24px;
        font-weight: 500;
        line-height: var(--line-height-lg);
      }
    }

    .card-text {
      color: var(--text-color);
      font-size: var(--font-size-md);
      line-height: var(--line-height-md);
    }
  }
}
