.accordion {
  max-height: 400px;
  margin-top: -50px;
}

.tab {
  position: relative;
  border-bottom: 1px solid #f9f3fe;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.tab input:checked~.tab__content {
  max-height: 10rem;
}

.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}

.tab__label {
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  justify-content: space-between;
  padding: 20px 0;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.tab input:checked+.tab__label::after {
  transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  margin-left: 1rem;
  padding: 20px;
  padding-top: 0;
  color: var(--secondary-color);
}

/* Arrow animation */
.tab input:not(:checked)+.tab__label:hover::after {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }

  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}